/**
 * Author : Elbek
 * Github : @BadRa66it
 */

* {
    /* Основные цвета */
    background:     rgba(30, 35, 48, 0.75);
    background-alt: rgba(255, 255, 255, 0.1);
    foreground:     #e5e9f0;
    selected:       rgba(136, 192, 208, 0.4);
    active:         rgba(191, 97, 106, 0.3); 
    urgent:         rgba(191, 97, 106, 0.3);
    border-color:   #88c0d0;
}